

services:
  backend:
    build:
      context: ./spy-helmet-backend/spy-helmet-backend
    container_name: helmet-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - POSTGRES_HOST=db
    volumes:
      - ./spy-helmet-backend/spy-helmet-backend:/app
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./spy-helmet-frontend/spy-helmet-frontend
    container_name: helmet-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    volumes:
      - ./spy-helmet-frontend/spy-helmet-frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always

  db:
      image: postgres:15
      container_name: helmet-db
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - "5433:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      restart: always

volumes:
  postgres_data:
